.root {
  margin: 0;

  .container {
    min-height: 92vh;
    display: flex;
    justify-content: space-between;
    // background: #f5f5f5;
    background: pink;
    padding: 10px 0 10px 0;

    .left {
      width: 25%;
      background: rgb(42, 138, 42);
    }
  }
}
